.maincontainer {
  max-width: 750px;
  margin: 3rem auto;
  border: 3px solid rgba(255, 255, 255, 0.795);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(88, 88, 88, 0.795);
  background-image: url(./Components/pics/stripes.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Libre Bodoni', serif;
  text-align: center;
  font-size: 40px;
  color: rgb(32, 32, 32);
}

form {
  text-align: center;
  margin-top: 25px;
}

label {
  font-family: 'Bebas Neue', cursive;
  font-size: 17px;
}

.pinput {
  margin-bottom: 15px;
}

.sinput {
  margin-bottom: 15px;
}

input {
  min-width: 300px;
  font-family: 'Special Elite', cursive;
  padding: 6px;
}

button {
  margin-bottom: 45px;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  padding: 5px;
  border: 1px solid rgb(102, 102, 102);
  cursor: pointer;
}

h3 {
  font-family: 'Bebas Neue', cursive;
}

p {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}

.taskitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: rgb(189, 189, 189);
  border-style: groove;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 5px;
  background-color: rgb(73, 73, 73, 0.7);
}

.tasklistt {
  margin-bottom: 25px;
}

@media only screen and (max-width: 750px) {
  .maincontainer {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
